<div class="container">
	<table style="width:100%">
		<tr>
			<td style="padding-top:2em; padding-bottom:2em; border-right:0px solid #C8C8C8; text-align:center">
			<h1>
			I am a
			</h1>
		<a data-toggle="modal" href="#myCompanySignUpModal" class="thumbnail">
			<%= image_tag "brand.jpg" %>
    </a>
			<br>
			<a data-toggle="modal" href="#myCompanySignUpModal" class="btn btn-large btn-success">Brand</a>
			<%= render "companies/home" %>
			</td>
			<td width="100em"> 
			</td>
			<td style="text-align:center">
				<h1>
				I am a
				</h1>
		<a data-toggle="modal" href="#myPublisherSignUpModal" class="thumbnail">
				<%= image_tag "game.gif" %>
		</a>
				<br>
				<a data-toggle="modal" href="#myPublisherSignUpModal" class="btn btn-large btn-primary">Game</a>
				<%= render "publishers/home" %>
			</td>
		</tr>
	</table>
</div>
