<!-- products preview page -->
<%= will_paginate products, :param_name => 'product_page' %>
<% products.each do |product| %>
	<div class="product-preview">
		<table class="product-table">
			<% render "products/preview", :product => product %>
		</table>
	</div>
<% end %>
